*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
	text-decoration: none;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	
}

.header-content {
	max-width: 900px;
	margin: 0 auto;
}

#logo{
	width: 100%;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	padding-top: 5%;
}

a {
	color: #6ab47b;
}

header {
	background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	padding-bottom: 5vh;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	line-height: 1.5em;
	/* padding-top: 25px; */
}

h2 {
	font-size:0.75em;
	margin: -5px 0 0;
	font-weight: 500;
}


h1, h2 {
	color: #fff;
}

h3 {
	margin: 20px 0 1em 0;
}

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;

 }
 
 nav ul {
 	list-style: none;
 	margin: 0 10px;
 	padding: 0;
 }
 
 nav li {
 	display: inline-block;
 }

nav a, nav a:visited {
	color: #fff;
}

nav a.selected, nav a:hover {
	color: #A8EB12;
}

body {
	background-color: #fff;
	color: #999;
	font-family: 'Open Sans', sans-serif;
}


footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	clear: both;
	background-color: rgba(5, 25, 55, .7);
}

footer p {
	margin-bottom: 20px;
}

footer a img {
	width: 100px;
	height: 100px;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px 5px 0;
	z-index: 100;
}

img{
	max-width: 100%;
}

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #051937;
	color: #bdc3c7;
	border-radius: 20px 20px 0 0;
}

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;
}

#gallery li a img {
	border-radius: 20px 20px 0 0;
}

li {
	list-style: none;
}

.profile-photo {
	display: block;
	max-width: 150px;
	margin: 30px auto 30px;
	border-radius: 100%;
}


.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px; 
	margin: 0 0 10px;
}

.contact-info li.phone a {
	background-image: url('../img/phone.png');
}

.contact-info li.mail a {
	background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
	background-image: url('../img/twitter.png');
}

@media(min-width: 768px){
	
	#logo{
	 width: 30%;
	 text-align: left;
	 margin: 0;
	}

nav {
	text-align: right;
	display: inline-block;
	float: right;
	padding-top: 5%;
}

}





